<Alloy>
  <Window id='window' title='Upcoming Events' onOpen='getEvents'>
    <View id='content'>
      <ListView id='listview' defaultItemTemplate='eventCell' onItemclick='handleListItemClick'>
        <ListSection id='section' />
        <Templates>
          <ItemTemplate name='eventCell'>
            <View class='cellContainer'>
              <View class='cell'>
                <View class='data'>
                  <Label id='day' bindId='day' />
                  <Label id='date' bindId='date' />
                  <Label id='time' bindId='time' />
                </View>
                <View id='line' />
                <View id='titleData'>
                  <Label class='title' bindId='name' />
                </View>
              </View>
            </View>
          </ItemTemplate>
        </Templates>
        <RefreshControl id="refresh" onRefreshstart="refreshData" />
      </ListView>
    </View>
    <View id='details' visible='false'>
      <Label id='detTitle' />
      <ScrollView id='scroll'>
        <Label id='detStart' />
        <Label id='detEnd' />
        <Label id='detLoc' />
        <Label id='detURL' />
        <Label id='detText' />
      </ScrollView>
      <Label id='detButton' />
    </View>
    <ActivityIndicator id='loading' />
  </Window>
</Alloy>